@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0D0D0D;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



.taskProgressBar::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.taskProgressBar::-webkit-progress-value {
  background-color: #c4ff63;
  border-radius: 4px;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 0.3s;
}
