@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 400;
}
.taskProgressBar::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.taskProgressBar::-webkit-progress-value {
  background-color: #c4ff63;
  border-radius: 4px;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 0.3s;
}